<h1>All Comments</h1>

<% @comments.each do |comment| %>
  <div class="comment-item">
    <p><%= comment.body %></p>
    <small>Posted on <%= comment.created_at.strftime("%b %d, %Y at %I:%M %p") %></small><br>
    <%= link_to "View", comment_path(comment), class: "button-link" %>
  </div>
<% end %>

<%= link_to "New Comment", new_comment_path, class: "button-link green" %>
