<h1>All Posts</h1>

<%= link_to "➕ New Post", new_post_path, class: "button-link green" %>

<% @posts.each do |post| %>
  <div class="post-card">
    <h2><%= link_to post.title, post_path(post), class: "post-link" %></h2>
    <p><%= truncate(post.body, length: 150) %></p>
    <%= link_to "Read More →", post_path(post), class: "button-link" %>
  </div>
<% end %>
